{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_lessonmenu/editor

    Template for lesson menu block structure editor.

    Example context (json):
    {
        "blockid": 42,
        "editurl": "http://example.com/blocks/lessonmenu/edit.php",
        "sesskey": "ABCDEF1234567890",
        "id": 42,
        "menuitems": [
            {
                "title": "Section 1",
                "items": [
                    {
                        "pageid": 1,
                        "indentation": 0,
                        "duration": 5,
                        "contenttypeinfo": {
                            "code": "page",
                            "label": "Page",
                            "icon": "i/page"
                        },
                        "page": {
                            "title": "Introduction"
                        }
                    }
                ]
            }
        ]
    }
}}
<div id="lessonmenu-edit-structure-container" class="lessonmenu-edit-structure-container">
    <h3>{{#str}}editstructure, block_lessonmenu{{/str}}</h3>
    <form id="lessonmenu-edit-structure-form" method="post" action="{{editurl}}">
        <input type="hidden" name="sesskey" value="{{sesskey}}">
        <input type="hidden" name="id" value="{{id}}">
        <textarea name="structure" class="hidden"></textarea>
    </form>

    <div class="card lessonmenu-edit-structure-list-container">
        <ul id="lessonmenu-editor" class="list-group">
        {{#menuitems}}
            {{#title}}
                <li class="list-group-item list-group-item-primary" data-type="section">
                    <span tabindex="0" role="button" aria-haspopup="true" data-drag-type="move" title="{{title}}">
                        {{#pix}} t/move {{/pix}}
                    </span>
                    <input type="text" value="{{title}}" maxlength="255">
                    <span class="lessonmenu-structure-item-actions">
                        <a href="#" data-action="deletesection" class="btn btn-danger" title="{{#str}}delete, core{{/str}}">
                            {{#pix}} t/delete {{/pix}}
                        </a>
                    </span>
                </li>
            {{/title}}
            {{#items}}
                <li class="list-group-item" data-pageid="{{pageid}}" data-type="page" data-contenttype="{{contenttype}}" data-indentation="{{indentation}}" data-index="{{index}}">
                    {{#contenttypeinfo}}
                        <span class="item-icon" title="{{label}}">{{#pix}} {{icon}} {{/pix}}</span>
                    {{/contenttypeinfo}}
                    {{^contenttypeinfo}}
                        <span class="item-icon" title="{{#str}}changecontenttype, block_lessonmenu{{/str}}">{{#pix}} e/fullscreen {{/pix}}</span>
                    {{/contenttypeinfo}}
                    {{#page}}
                        <span class="item-title">{{title}}</span>
                    {{/page}}
                    <div class="lessonmenu-structure-item-actions">
                        <span data-action="duration">
                            {{#pix}} e/insert_time {{/pix}}
                            <input type="number" value="{{duration}}">
                            {{#str}}durationshort, block_lessonmenu{{/str}}
                        </span>
                        <button type="button" data-action="moveleft" class="btn btn-secondary" title="{{#str}}moveleft{{/str}}">
                            {{#pix}} i/previous {{/pix}}
                        </button>
                        <button type="button" data-action="moveright" class="btn btn-secondary" title="{{#str}}moveright{{/str}}">
                            {{#pix}} i/next {{/pix}}
                        </button>
                    </div>
                </li>
            {{/items}}
        {{/menuitems}}
        </ul>
    </div>

    <div id="lessonmenu-edit-structure-actions">
        <div class="lessonmenu-edit-actions">
            {{#hasdefaultsections}}
                <div id="lessonmenu-add-defaultsections">
                    <select class="form-select custom-select" data-type="defaultsections">
                        {{#defaultsections}}
                            <option value="{{dataelements}}" title="{{uitext}}">{{uitext}}</option>
                        {{/defaultsections}}
                    </select>
                    <button type="button" class="btn btn-secondary" data-action="adddefaultsections">
                        {{#str}}addsections, block_lessonmenu{{/str}}
                    </button>
                </div>
                <div class="divider"></div>
            {{/hasdefaultsections}}

            <button type="button" class="btn btn-warning" data-action="addsection">
                {{#str}}newsection, block_lessonmenu{{/str}}
            </button>

            <div class="divider"></div>
        </div>

        <button type="submit" class="btn btn-primary" data-action="save">
            {{#str}}savechanges, core{{/str}}
        </button>
    </div>

    <div class="hidden">
        <!-- Modals -->
        <div id="lessonmenu-change-icon-modal" class="modal">
            <ul id="lessonmenu-change-icon-select">
                {{#contenttypes}}
                <li data-value="{{code}}">
                    <span title="{{label}}">
                        {{#pix}} {{icon}} {{/pix}}
                    </span>
                    <label>{{label}}</label>
                </li>
                {{/contenttypes}}
            </ul>
        </div>

        <!-- Template for a new section -->
        <ul data-tpl="section">
            <li class="list-group-item list-group-item-primary" data-type="section">
                <span tabindex="0" role="button" aria-haspopup="true" data-drag-type="move" title="[title]">
                    {{#pix}} t/move {{/pix}}
                </span>
                <input type="text" value="[title]" maxlength="255">
                <span class="lessonmenu-structure-item-actions">
                    <a href="#" data-action="deletesection" class="btn btn-danger" title="{{#str}}delete, core{{/str}}">
                        {{#pix}} t/delete {{/pix}}
                    </a>
                </span>
            </li>
        </ul>
    </div>
</div>
